*{
    box-sizing: border-box;
}
.clear:after{
    content: "";
    clear: both;
    display: block;
}
body{
    margin: 0;
    text-align: center;
    font-size: 2.2em;
}
header{
    background-color: gray;
	height: 100vh;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav1{
    padding: 5px 20px;
    text-transform: uppercase;
}
h1{
    font-size: 65px;
}
aside{
	height: 150px;
	background-repeat: no-repeat;
	/* efekt paralaksy*/
	background-image: url("images/backg.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.when{
    display: flex;
}
h2{
    width: 100%;
}
.main{
    padding: 10px;
    display: flex;
}
.main2{
    padding: 10px;
    display: flex;
}
.about-us{
    margin-right: 30px;
    margin-top: 90px;
    width: 30%;
    float: right;
    background-color: #fff;
}
.about-us2{
    width: 100%;
    float: right;
    background-color: #fff;
}
.about-us p{
    margin: 0;
    color: #fff;
    font-size: 35px;
    background-color: #fbbccf;
    padding: 13px 20px;
    font-weight: normal;
}
.about-us2 p{
    margin: 0;
    color: #fff;
    font-size: 35px;
    background-color: #fbbccf;
    padding: 13px 20px;
    font-weight: normal;
}
.about-us nav{
    border: 1px solid #fbbccf;
    border-top: 1px solid transparent;
}
.about-us2 nav{
    border: 1px solid #fbbccf;
    border-top: 1px solid transparent;
}
.about-us ul{
    list-style: none;
    padding-right: 50px;
}
.about-us2 ul{
    list-style: none;
    padding-right: 50px;
}
.about-us li{
    margin-bottom: 14px;
}
.about-us2 li{
    margin-bottom: 14px;
}
.about-us a{
    font-size: 30px;
    text-transform: uppercase;
    color: #fbbccf;
    list-style: none;
    text-decoration: underline;
}
.about-us2 a{
    font-size: 30px;
    text-transform: uppercase;
    color: #fbbccf;
    list-style: none;
    text-decoration: underline;
}
.description{
    padding: 0 20px;
    width: 70%;
}
.description p{
    text-align: left;
    font-size: 28px;
}
.dates{
    height: 90vh;
    display: flex;
}
.photos{
    height: 55vh;
    display: flex;
}
figure{
    margin: 0;
    padding-top: 40px;
    width: 33%;
}
img{
    height: 300px;
    width: 320px;
    border-radius: 13%;
}
video{
    height: 300px;
    width: 320px;
}
h3{
    margin: 10px 0 10px 0;
    text-transform: uppercase;
}
h3:hover{
    color: #fbbccf;
    text-decoration: underline;
}
h4{
    margin: 20px;
    text-transform: uppercase;
    font-size: 55px;
}
.galery-image:hover{
    border-radius: 50%;
}
figcaption{
    padding: 5px 30px 50px 30px;
    font-size: 23px;
}
